<div class="modal-header">
    <h3 class="modal-title">Generar Password</h3>
</div>
<div class="modal-body">

	<div class="row">
		<div class="col-sm-6">
		    <div class="input-group">
		      <input type="text" class="form-control" ng-model="generar.password" readonly>
		      <div class="input-group-btn dropdown" dropdown="">
		        <button type="button" class="btn btn-success" tabindex="-1" ng-click="generarPassword()">Generar</button>
		      </div>
		    </div>
		</div>
	</div>

</div>
<div class="modal-footer">                  
    <button class="btn btn-default" ng-click="cerrarModal()">Cerrar</button>
</div>