<!-- list -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span>Navigation</span>
  </li>
  <li ui-sref-active="active" ng-if="login.tipo == 'Admin'">
    <a ui-sref="app.dashboard">
      <i class="fa fa-home icon text-info-dker"></i>
      <span class="font-bold" >Dashboard</span>
    </a>
  </li>
  <li ui-sref-active="active" ng-if="login.tipo == 'Admin'">
    <a ui-sref="app.usuarios">
      <i class="fa fa-users icon text-info-dker"></i>
      <span class="font-bold" >Usuarios</span>
    </a>
  </li>
  <li ui-sref-active="active" ng-if="login.tipo == 'Admin'">
    <a ui-sref="app.supervisores">
      <i class="fa fa-users icon text-info-dker"></i>
      <span class="font-bold" >Supervisores</span>
    </a>
  </li>
  <li ui-sref-active="active" ng-if="login.tipo == 'Admin'">
    <a ui-sref="app.sucursales">
      <i class="fa fa-flag icon text-info-dker"></i>
      <span class="font-bold" >Sucursales</span>
    </a>
  </li>
  <li ui-sref-active="active" ng-if="login.tipo == 'Admin'">
    <a ui-sref="app.vendedores">
      <i class="fa fa-male icon text-info-dker"></i>
      <span class="font-bold" >Vendedores</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.reportes">
      <i class="fa fa-bar-chart-o icon text-info-dker"></i>
      <span class="font-bold" >Reportes</span>
    </a>
  </li>
 
</ul>
<!-- / list -->
