<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Vendedores</h1>
</div>
<div class="wrapper-md">
 
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container> 
  <div class="panel panel-default">
    <div class="panel-heading">
      <button type="button" ng-click="createItem()" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-plus"></i> Nuevo Registro</button>
    </div>
    <div class="panel-body">
      <div class="row mb20">
        <div class="col-sm-6">
          <input type="text" ng-model="tableParams.filter()['search']" class="form-control" placeholder="Buscar" autofocus />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table id="tabla-registros" ng-table="tableParams" class="table table-striped" template-pagination="tpl/blocks/pagination.html">
            <tbody>
            <tr ng-repeat="(key, item) in $data">
              <td data-title="'#'" filter="{ 'id': 'text' }" sortable="'id'" >{{ item.id }}</td>
              <td data-title="'Codigo Vendedor'" filter="{ 'codigo_vendedor': 'text' }" sortable="'codigo_vendedor'">{{ item.codigo }}</td>
              <td data-title="'Nombre'" filter="{ 'nombre': 'text' }" sortable="'nombre'" >{{ item.nombre }}</td>
              <td data-title="'Telefono'" filter="{ 'telefono': 'text' }" sortable="'telefono'" >{{ item.telefono }}</td>
              <td data-title="'Usuario'" filter="{ 'usuario': 'text' }" sortable="'usuario'" >{{ item.usuario }}</td>
              <td data-title="'Codigo PDV'" filter="{ 'codigo_pdv': 'text' }" sortable="'codigo_pdv'" >{{ item.sucursal.codigo }}</td>
              <td data-title="'Cadena'" filter="{ 'cadena': 'text' }" sortable="'cadena'" >{{ item.sucursal.cadena }}</td>
              <td data-title="'Tienda'" filter="{ 'tienda': 'text' }" sortable="'tienda'" >{{ item.sucursal.tienda }}</td>
              <td data-title="'Region'" filter="{ 'region': 'text' }" sortable="'region'" >{{ item.sucursal.region }}</td>
              <td data-title="'Supervisor Asignado'" filter="{ 'supervisor': 'text' }" sortable="'supervisor'" >{{ item.id_supervisor>0 ? item.supervisor.nombre : 'No asignado' }}</td>
              <td data-title="'Estado'" filter="{ 'estado': 'text' }" sortable="'estado'" >{{ item.estado == 1 ? 'Activo' : 'Inactivo' }}</td>
              <td data-title="'Acciones'">
                <button type="button" ng-click="editItem(item)" class="btn btn-xs btn-info">
                  <i class="fa fa-edit"></i>
                </button>
                <button ng-if="item.estado == 1" type="button" ng-click="bajaItem(item)" class="btn btn-xs btn-warning">
                  <i class="fa fa-thumbs-o-down"></i>
                </button>
                <button ng-if="item.estado == 0" type="button" ng-click="altaItem(item)" class="btn btn-xs btn-success">
                  <i class="fa fa-thumbs-o-up"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
